*{
      box-sizing: border-box;
}
.head1{
    width: 100%;
    max-width: 1300px;
    min-width: 1300px;
    height: 100%;
    max-height: 40px;
    min-height: 40px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    direction: rtl;
    box-shadow: 5px 5px 10px grey;
    padding: 1px;
    background-color: rgb(217, 252, 240);
    border-radius: 10px;
}
.kif{
    width: 100%;
    max-width: 20%;
    border-radius: 20px;
    
}
.l12:hover{
    transform: scale(1.1);
    transition: 0.3S;
}

.head11{
    width: 100%;
    max-width: 135px;
    
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    font-family: "b titr";
    font-size: 20px;
}
.head12{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    gap:50px;
    font-family: "b zar";
    font-size: 20px;
    margin-right: 100px;
    padding-right: 30px;
}
.head13{
    width: 100%;
    max-width: 350px;
display: flex;


}
.sabad{
    max-width: 100%;
    border-radius: 20px;
    
   
}
.sabad:hover{
    transform: scale(1.05);
    transition: 0.3S;
}
.adamak{
   max-width: 100%;
    border-radius: 20px;  
}
.adamak:hover{
    transform: scale(1.05);
    transition: 0.3S;
}
.head-in:placeholder-shown{
    color: grey;
}
.head-in{
    width: 100%;
}
.titr{
    width: 100%;
    max-width: 1300px;
    min-width: 1300px;
    height: 350px;
    position: relative;
    display: flex;
    padding: 2px;
    margin: 0 auto;
    
}
.pictitr{
    width: 100%;
    max-width: 1400px;
    height: 350px;
    border-radius: 15px;
    position: absolute;
}
.objecttitr{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 80px;
    font-family: "b zar";
    font-size: 30px;
    gap: 30px;

}
.l1{
    font-family: "b titr";
    font-size: 30px;
}
.badane{
    width: 100%;
    max-width: 1300px;
    min-width: 1300px;
    height: 500px;
    direction: rtl;
    display: flex;
    gap: 30px;
    padding: 20px;
    margin: 0 auto;
    background-color: rgb(213, 248, 237);
    border-radius: 10px;
    margin-top: 3px;
}
.badane1{
    width: 100%;
    max-width: 250px;
    height: 450px;
    padding: 20px;
     display: flex;
    flex-direction: column;
    gap: 20px;
}
.badane2{
    width: 100%;
    max-width: 800px;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}
.badane3{
    width: 100%;
    max-width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    

}
.badane11{
    width: 100%;
    max-width: 240px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: rgb(187, 245, 226);
    border-radius: 10px;
     font-family: "b zar";
    font-size: 20px;
}
.badane12{
    width: 100%;
    max-width: 240px;
    height: 200px;
    font-family: "b zar";
    font-size: 20px;
    border-radius: 10px;
    position: relative;

}
.badane111{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.badane112{
    display: flex;
    gap: 20px;
    
}
.btn-b11{
     background-color: rgb(62, 62, 233);
     border-radius: 10px;
     width: 140px;
     cursor: pointer; 
}
.btn-b11:hover{
    background-color:  rgb(34, 34, 143) ;
}
.badane11btn{
    padding-right: 20px;
}
.badane12img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.badane121{
    
    width: 100%;
    height: 100%;
    
}
.badane122{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 70px;
    right: 0;
    color: rgb(248, 95, 6);
    font-family: "b titr";
    font-weight:20;
    gap: 10px;  
}
.badane21{
    width: 100%;
    max-width: 800px;
    height: 225px;
    display: flex;
    padding: 10px;
}
.badane211{
    width: 100%;
    max-width: 233px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "b zar";
    font-size: 16px;
}
.pic211{
    display: flex;
    border-radius: 30px;
    margin-top: 0px;
}

.img211{  
    height: 120px; 
    border-radius: 30px;
}
.img211:hover{
    transform: scale(1.1);
    transition: 0.3S;
}
.object211{
    display: flex;
    flex-direction: column;  
}
.badane212{
    width: 100%;
    max-width: 233px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "b zar";
    font-size: 16px;
}
.badane213{
    width: 100%;
    max-width: 233px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "b zar";
    font-size: 16px;
}
.badane22{
    width: 100%;
    max-width: 800px;
    height: 225px;
    display: flex;
    padding: 10px;
}

.object3{
    width: 100%;
    max-width: 245px;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: "b titr";
    font-size: 18px;
    gap: 15px;
}
.object31{
    width: 100%;
    max-width: 245px;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: "b zar";
    font-size: 18px;
    gap: 15px;
}
.l2{
    font-family: "b zar";
    font-size: 20px;
    color: rgb(59, 58, 58);
}
.l31:hover{
    text-shadow: 5px 5px 10px grey;
    transform: scale(1.1);
    transition: 0.3S;
}
.img31:hover{
    transform: scale(1.2);
    transition: 0.3S;
}
.end{
    background-color: aqua;
    border-radius: 20px;
    width: 100%;
    max-width: 1300px;
    min-width: 1300px;
    height: 100%;
    max-height: 200px;
    min-height: 200px;
    display: flex;
    direction: rtl;
    margin: 0 auto;
    gap: 140px;
    padding-right: 20px;
    padding-left: 20px;
}
.l11{
    font-family: "b titr";
    font-size: 20px;
}
.end1{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    align-items: center;
}
.end11{
    display: flex;
    align-items: center;
    gap: 10px;
}
.end12{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.end13{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
}
